<?xml version="1.0" ?>
<robot name="turtlebot3_waffle_pi" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find lidar_samples)/models/urdf/lidar.gazebo.xacro"/>

  <link name="base_footprint"/>

  <joint name="scan_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_scan"/>
    <origin xyz="-0.064 0 1.122" rpy="0 0 0"/>
    
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 1.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://lidar_samples/models/meshes/lds.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0.015 0 1.0065" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  </link>

  <gazebo>
    <static>true</static>
  </gazebo>
  

</robot>
